﻿@page
@model MotelRate.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
    String? accountString = HttpContext.Session.GetString("account");
}
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>Details</h1>
<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Details Motel</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="@Model.Motel.MotelImage" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <input type="hidden" value="@Model.Motel.MotelId" id="MotelID" />
                    <h4>@Model.Motel.MotelName</h4>
                    <p>Host: <a asp-page="/Accounts/DetailsMember" asp-route-id=@Model.Motel.Account.AccountId>@Model.Motel.Account.FullName</a></p>
                    <p>@Model.Motel.MotelDescription</p>
                    <p>Room: @Model.Motel.EmptyQuantity / @Model.Motel.AllQuantity</p>
                    <p id="avg">Rate: @Model.Motel.RateAveraged / 10.0</p>
                    @if(accountString != null){
                        Account acc = JsonSerializer.Deserialize<Account>(accountString);
                        if (acc.IsActive == true)
                        {
                            <button style="background-color:red; color:white"><a asp-page="/Rate" asp-route-motelId="@Model.Motel.MotelId">Rate</a></button>
                        } else
                        {
                            <button style="background-color:red; color:white" disabled>Rate</button>
                        }
                    }
                    else
                    {
                        <button style="background-color:red; color:white"><a asp-page="/Rate" asp-route-motelId="@Model.Motel.MotelId">Rate</a></button>
                    }

                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h3 style="color:black">Comments:</h3><br />
                    <div id="rateMotel">
                    @foreach (var r in Model.rates)
                    {
                        <h6>@r.Account.FullName: @r.Comment </h6>

                        <br />
                    }
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
