﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            <div class="banner-item-01">
                <div class="text-content">
                    <h4>Best Offer</h4>
                    <h2>New Arrivals On Sale</h2>
                </div>
            </div>
            <div class="banner-item-02">
                <div class="text-content">
                    <h4>Flash Deals</h4>
                    <h2>Get your best products</h2>
                </div>
            </div>
            <div class="banner-item-03">
                <div class="text-content">
                    <h4>Last Minute</h4>
                    <h2>Grab last minute deals</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>List Motel</h2>
                    </div>
                </div>
                @foreach(var m in Model.motels)
                {
                    <div class="col-md-4">
                        <div class="product-item">
                            <a asp-page="/Details" asp-route-motelId="@m.MotelId"><img src="@m.MotelImage" alt=""></a>
                            <div class="down-content">
                                <a asp-page="/Details" asp-route-motelId="@m.MotelId"><h4>@m.MotelName</h4></a>
                                <h6>$@m.Price</h6>
                                <p>@m.MotelDescription</p>
                                <ul class="stars">
                                    <li>@m.RateAveraged / 10.0</li>
                                </ul>
                                <span>Reviews (@m.Rates.Count)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

</html>
