﻿@page
@model MotelRate.Pages.RateModel
@{
}
<h1>Details</h1>
<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Details Motel</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="@Model.Motel.MotelImage" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>@Model.Motel.MotelName</h4>
                    <p>Host: <a asp-page="/Admin/Members/Details" asp-route-id="@Model.Motel.Account.AccountId">@Model.Motel.Account.FullName</a></p>
                    <p>@Model.Motel.MotelDescription</p>
                    <p>Room: @Model.Motel.EmptyQuantity / @Model.Motel.AllQuantity</p>
                    <p>Rate: @Model.Motel.RateAveraged / 10.0</p>
                    <p class="text-danger">@Model.ErrMsg</p>
                    <form method="post">
                        <input asp-for="@Model.rate.AccountId" type="hidden" />
                        <input asp-for="@Model.rate.MotelId" type="hidden" />
                        <input asp-for="@Model.rate.Care" type="hidden"/>
                        Comment: <input asp-for="@Model.rate.Comment"/><br />
                        Rate: <input asp-for="@Model.rate.NumberRating"/><br />
                        <input style="background-color:red; color:white" type="submit" value="Rate" />
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h3 style="color:black">Comments:</h3><br />
                    <div id="rateFilm">
                        @foreach (var r in Model.rates)
                        {
                            <h6>@r.Account.FullName: @r.Comment </h6>

                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

