﻿@page
@model MotelRate.Pages.Admin.Motels.EditModel

@{
    ViewData["Title"] = "Edit";
    string? check = Model.Motel.MotelIsActive == true ? "Block Motel" : "Pass Motel";
}
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>Edit</h1>

<h4>Motel</h4>
<hr />
<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Details Motel</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="@Model.Motel.MotelImage" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <input type="hidden" value="@Model.Motel.MotelId" id="MotelID" />
                    <h4>@Model.Motel.MotelName</h4>
                    <p>Host: <a asp-page="/Admin/Members/Details" asp-route-id="@Model.Motel.Account.AccountId">@Model.Motel.Account.FullName</a></p>
                    <p>@Model.Motel.MotelDescription</p>
                    <p>Room: @Model.Motel.EmptyQuantity / @Model.Motel.AllQuantity</p>
                    <p id="avg">Rate: @Model.Motel.RateAveraged / 10.0</p>
                    <form method="post">
                        <input type="hidden" asp-for="Motel.MotelId"/>
                        <input type="submit" value="@check" />
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h3 style="color:black">Comments:</h3><br />
                    <div id="rateMotel">
                        @foreach (var r in Model.rates)
                        {
                            <h6>@r.Account.FullName: @r.Comment </h6>

                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
