﻿@page
@model MotelRate.Pages.Admin.Motels.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div style="padding-top:100px">
    <h1>List All Motel</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Motel[0].MotelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motel[0].MotelAddress)
                </th>
                <th>
                    Total Number Of Rooms
                </th>
                <th>
                    Number Of Rooms Available
                </th>
                <th>
                    Operation Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motel[0].RateAveraged)
                </th>
                <th>
                    Host
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Motel)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotelAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmptyQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotelIsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RateAveraged)
                    </td>
                    <td>
                        <a asp-page="/Admin/Members/Details" asp-route-id="@item.AccountId">@Html.DisplayFor(modelItem => item.Account.UserName)</a>
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.MotelId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

