﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MotelRate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MotelRate.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/css/owl.css">
</head>
@{
    Account? acc = null;
    if (Context.Session.GetString("account") != null)
    {
        acc = JsonSerializer.Deserialize<Account>(Context.Session.GetString("account"));
    }
}
<body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                @if(acc == null){
                    <a class="navbar-brand" href="/Index"><h2>Motel <em>Rate</em></h2></a>
                } else{
                    if(acc.Type == 0)
                    {
                        <a class="navbar-brand" href="/Admin/Motels/Index"><h2>Motel <em>Rate</em></h2></a>
                    } else if (acc.Type == 1)
                    {
                        <a class="navbar-brand" href="/Host/Index"><h2>Motel <em>Rate</em></h2></a>
                    }
                    else
                    {
                        <a class="navbar-brand" href="/Index"><h2>Motel <em>Rate</em></h2></a>
                    }
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarResponsive">
                    <ul class="navbar-nav flex-grow-1">
                        @if(acc == null)
                        {
                            <li class="nav-item">
                            <a class="nav-link" href="/Index">
                                Home
                            </a>
                            </li>
                        }
                        else
                        {
                            if(acc.Type == 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Admin/Motels/Index">
                                    Motel Management
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Admin/Members/Index">
                                    Member Management
                                    </a>
                                </li>
                            } else if (acc.Type == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Host/Index">
                                        Motel Management
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                 <a class="nav-link" href="/Index">
                                    Home
                                 </a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if(acc == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Accounts/Create">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Accounts/Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Accounts/Edit" asp-route-id="@acc.AccountId">Hello @acc.FullName</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Accounts/Logout">Logout</a>
                            </li>   
                        }

                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>