﻿@page
@model MotelRate.Pages.Admin.Members.DetailsModel

@{
    ViewData["Title"] = "Detail Member";
    var type = "";
    var check = Model.Account.Type;
    if (check == 0) type = "Admin";
    else if (check == 1) type = "Host";
    else type = "Customer";
}

<h1>Detail Member</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.AccountId" />
            <input type="hidden" asp-for="Account.Password" />
            <div class="form-group">
                <label asp-for="Account.UserName" class="control-label"></label>
                <input asp-for="Account.UserName" class="form-control" readonly />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.FullName" class="control-label"></label>
                <input asp-for="Account.FullName" class="form-control" readonly />
                <span asp-validation-for="Account.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Phone" class="control-label"></label>
                <input asp-for="Account.Phone" class="form-control" readonly />
                <span asp-validation-for="Account.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Dob" class="control-label"></label>
                <input asp-for="Account.Dob" class="form-control" readonly />
                <span asp-validation-for="Account.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Address" class="control-label"></label>
                <input asp-for="Account.Address" class="form-control" readonly />
                <span asp-validation-for="Account.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Type" class="control-label"></label>
                <input value="@type" class="form-control" readonly />
                <span asp-validation-for="Account.Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.IsActive" disabled/> @Html.DisplayNameFor(model => model.Account.IsActive)
                </label>
            </div>
    </div>
</div>
