﻿@page
@model MotelRate.Pages.Host.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Do you want delete motel?</h2>
                </div>
            </div>
            <h5 class="text-danger">@Model.ErrMsg</h5>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="@Model.Motel.MotelImage" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>@Model.Motel.MotelName</h4>
                    <p>Host: <a asp-page="/Admin/Members/Details" asp-route-id="@Model.Motel.Account.AccountId">@Model.Motel.Account.FullName</a></p>
                    <p>@Model.Motel.MotelDescription</p>
                    <p>Room: @Model.Motel.EmptyQuantity / @Model.Motel.AllQuantity</p>
                    <p>Rate: @Model.Motel.RateAveraged / 10.0</p>
                    <form method="post">
                        <input type="hidden" asp-for="Motel.MotelId" />
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
