﻿@page
@model MotelRate.Pages.Host.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>Details</h1>

<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Details Motel</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="@Model.Motel.MotelImage" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <input type="hidden" value="@Model.Motel.MotelId" id="MotelID" />
                    <h4>@Model.Motel.MotelName</h4>
                    <p>Host: <a asp-page="/Admin/Members/Details" asp-route-id="@Model.Motel.Account.AccountId">@Model.Motel.Account.FullName</a></p>
                    <p>@Model.Motel.MotelDescription</p>
                    <p id="avg">Room: @Model.Motel.EmptyQuantity / @Model.Motel.AllQuantity</p>
                    <p>Rate: @Model.Motel.RateAveraged / 10.0</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h3 style="color:black">Comments:</h3><br />
                    <div id="rateMotel">
                        @foreach (var r in Model.rates)
                        {
                            <h6>@r.Account.FullName: @r.Comment </h6>

                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
