﻿@page
@model MotelRate.Pages.Host.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="row" style="padding-top:100px !important">
    <div class="col-md-4">
        <h1>Edit Motel</h1>
        <h3 class="text-danger">@Model.ErrMsg</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Motel.MotelId" />
            <input type="hidden" asp-for="Motel.AccountId"/>
            <input type="hidden" asp-for="Motel.RateAveraged"/>
            <input type="hidden" asp-for="Motel.MotelIsActive" />
            <div class="form-group">
                <label>Motel Name</label>
                <input asp-for="Motel.MotelName" class="form-control" />
                <span asp-validation-for="Motel.MotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input asp-for="Motel.MotelAddress" class="form-control" />
                <span asp-validation-for="Motel.MotelAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Total Number Of Rooms</label>
                <input asp-for="Motel.AllQuantity" class="form-control" />
                <span asp-validation-for="Motel.AllQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Total Number Of Rooms Is Empty</label>
                <input asp-for="Motel.EmptyQuantity" class="form-control" />
                <span asp-validation-for="Motel.EmptyQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input asp-for="Motel.MotelDescription" class="form-control" />
                <span asp-validation-for="Motel.MotelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input asp-for="Motel.MotelImage" class="form-control" />
                <span asp-validation-for="Motel.MotelImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motel.Price" class="control-label"></label>
                <input asp-for="Motel.Price" class="form-control" />
                <span asp-validation-for="Motel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
