﻿@page
@model MotelRate.Pages.Host.IndexModel

@{
    ViewData["Title"] = "List Motel";
}
<div style="padding-top:100px">
<h1>List Motel</h1>

<p>
    <a asp-page="Create">Create New Motel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].MotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].MotelAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].AllQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].EmptyQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].MotelDescription)
            </th>
            <th style="width:50px">
                @Html.DisplayNameFor(model => model.Motel[0].MotelImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].MotelIsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].RateAveraged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motel[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Motel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotelAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmptyQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotelDescription)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.MotelImage)" style="width:200px; height:200px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotelIsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateAveraged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MotelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MotelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MotelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
